/* nav  bar */
.navbar {
  width: 100%;
  max-width: 100%;
}

/* nike body */
#nike-body {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 150px 150px 150px;
  width: 100%;
  margin: auto;
  justify-content: space-between;
  margin-top: 15px;
}

/* images */
#productImages {
  /* background-color: red; */
  width: 80%;
  margin-left: 15px;
  margin-top: 15px;
}
/* .defaultDisplay {
  background-color: yellow;
  width: 65%;
} */
/* .imageBody {
  background-color: blueviolet;
  width: 65%;
} */
.defaultSize {
  display: grid;
  grid-template-columns: auto;
  margin: 3px;
  max-width: 410px;
  height: auto;
}


.breaker-line {
  border-bottom: #e3e3e3 1px solid;
  font-family: Verdana;
}

#root {
  display: flex;
  margin-top: 28%;
  margin-left: 100%;
  width: 50px;
}
#product-details {
  width: 320px;
}

#shipping-returns {
  width: 250px;
  max-width: 100%;
  /* m-left: 50%; */
  margin-top: 95%;
  margin-right: 35%;
}
#reviews {
  background-color: red;
  margin-left: 100%;
  /* margin-right: 33%; */
  margin-top: 33%;
  width: 250px;
  max-width: 100%;
}

#styles {
  background-color: turquoise;
  margin-right: 50%;
  width: 50%;
}