/* body {
  margin: 0;
  width: 100%;
  max-width: 100%;
}

.wrapper {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.flex-container {
  display: flex;
}

#productImages {
  height: 250px;
  width: 700px;
  display: inline-block;
}
.defaultDisplay {
  height: 250px;
  width: 700px;
  display: inline-block;
} */

/* .imageBody {
  display: flex;
} */

/*
#root {
  height: 250px;
  width: 250px;

}

#styles {
  height: 250px;
  width: 250px;
}

#shipping-returns {
  height: 250px;
  width: 250px;
} */

/* #reviews {
  height: 250px;
  width: 250px;
} */